<!DOCTYPE html>
<html>
<head>
<style>
body
 {
    font-family: 'Amaranth';font-size: 14px;
}
.bglight1 {background:#f2f2f2;}
.about-section {
    padding: 4em 0;
}
.site-title  {
    padding: 2em 0;
}
.site-title h3 {
    font-size: 3.5em;
    color: #14B9D5;
    font-family: 'Marvel-Regular';
    font-weight: 700;
}
.site-title p {
    font-size: 1.1em;
    color: #333333;
    line-height: 1.8em;
    margin-top: 0.5em;
}
.about-inner-column h4 {
    font-size: 2.0em;
    color: #FFD001;
    font-family: 'Marvel-Regular';
}
.about-inner-column p {
    font-size: 1.1em;
    color: #333333;
    line-height: 1.8em;
    margin: 1em 0 0;
}
.about-inner-column ul li a {
    color: #333333;
    font-size: 1.1em;
    padding-left: 2em;
}
.about-right img {
    width: 100%;
}
</style>
 <title>Autotrader</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body class="bglight1">

<link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>
<div class="about-section">
		<div class="container">
			<div class="site-title text-center">
				<h3>About Us</h3>
				<p>A wonderful designs has takenpossession but also the leap into electronic pesetting industry  It was popularised in the 1960s with the release </p>
			</div>
			<div class="about-inner-section">				
				<div class="col-md-6 about-inner-column">
					<h4>Auto Trader Group plc is the UK’s largest digital automotive marketplace. </h4>
<p>Auto Trader has over 90% prompted brand awareness with consumers, and attracts over 49 million cross platform visits each month. The audience is not only large but highly engaged with a 76% share of minutes spent across automotive classified sites. </p>
					<ul>
						<li><a href="#">We are at Number 1</a></li>
						<li><a href="#">We are fully trustable </a></li>
						<li><a href="#">We give free survices too</a></li>
					</ul>
				</div>
				<div class="col-md-7 about-right">
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("image7.jpg", height: '380', width: '1100')%>
    </div>
    <div class="carousel-item">
      <%= image_tag("image8.jpg", height: '400', width: '1100')%>
    </div>
    <div class="carousel-item">
      <%= image_tag("image9.jpg", width: '1100', height: '380')%>
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
			</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

<div class="about-section">
		<div class="container">
			
			<div class="about-inner-section">	
			    <div class="col-md-7 about-right">

			<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
    <a href="http://press.autotrader.com/2019-09-03-Autotrader-Changes-History-for-the-Better-in-New-Finally-Its-Easy-Campaign"><%= image_tag("image3.jpg", height: '380', width: '1300')%></a>
    </div>
    <div class="carousel-item">
     <a href="https://www.ispot.tv/ad/oESh/autotrader-com-nordic-woodlands-finally-its-easy"> <%= image_tag("image5.jpg", height: '380', width: '1300')%>
     </a>
    </div>
    <div class="carousel-item">

      <a href="https://www.tvcommercialad.com/watch/49ZM9J4IO9Klye4"><%= image_tag("image4.jpg", height: '380', width: '1300')%></a>
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

			</div>
				<div class="col-md-6 about-inner-column">
					<h4>An overview of our business</h4>
	<p>Our purpose is to lead the future of the UK's digital automotive marketplace. We aim to improve the process of buying and selling vehicles in the UK, by continually evolving the ecosystem to provide a better experience for consumers, retailers and manufacturers alike.</p>
<p></p>
<p></p>
<p>Auto Trader is a 100% digital business. Starting life as a local classified magazine in 1977, we’ve grown and evolved alongside our customers. In 2013, we successfully completed the transition from a print title and became a fully digital marketplace. Our rich history gives us nearly 40 years of brand heritage and trust - unusual among online companies.</p>
					
				</div>

				<div class="col-md-6 about-inner-column">
<h4>Auto Trader in numbers in US</h4>
<p>__________________________________________________________________________________</p>
          <%= image_tag("image11.png", height: '600', width: '550', usemap: "#workmap")%>
</div>
<p></p>
<p></p>
<p></p>
<p></p>
        <%= image_tag("map.png", height: '450', width: '1100', usemap: "#workmap")%>

<map name="workmap">
  <area shape="rect" coords="345,386,42,62" alt="Computer" href="app/views/autotrader/histry.html.erb">
  <area shape="rect" coords="368,65,658,379" alt="Phone" href="app/views/autotrader/strategy.html.erb">
  <area shape="circle" coords="687,62,376" alt="Cup of coffee" href="model.html">
</map>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>


  <!-- Footer -->
  <footer class="bg-white">
    <div class="container py-5">
      <div class="row py-4">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0"><img src="img/logo.png" alt="" width="180" class="mb-3">
          <p class="font-italic text-muted">We are best team of all time.</p>
          <ul class="list-inline mt-4">
            <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i class="fa fa-pinterest"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="vimeo"><i class="fa fa-vimeo"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Shop</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="#" class="text-muted">Car</a></li>
            <li class="mb-2"><a href="#" class="text-muted">Bike</a></li>
            <li class="mb-2"><a href="#" class="text-muted">Supper Cars</a></li>
            <li class="mb-2"><a href="#" class="text-muted">Our Blog</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Company</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="#" class="text-muted">Login</a></li>
            <li class="mb-2"><a href="#" class="text-muted">Register</a></li>
            <li class="mb-2"><a href="#" class="text-muted">Wishlist</a></li>
            <li class="mb-2"><a href="#" class="text-muted">Our Products</a></li>
          </ul>
        </div>
      <div class="col-lg-4 col-md-6 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Newsletter</h6>
          <p class="text-muted mb-4">We are give upto 10% discount.</p>
          <div class="p-1 rounded border">
            <div class="input-group">
              <input type="email" placeholder="Enter your email address" aria-describedby="button-addon1" class="form-control border-0 shadow-0">
              <div class="input-group-append">
                <button id="button-addon1" type="submit" class="btn btn-link"><i class="fa fa-paper-plane"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Copyrights -->
    <div class="bg-light py-4">
      <div class="container text-center">
        <p class="text-muted mb-0 py-2">© 2020 private(1811981075) All rights reserved.</p>
      </div>
    </div>
  </footer>
  <!-- End -->

</body>
</html>
